// :root {
//   --primary-color: #f92524;
//   --primary-color-dark: #e91a1a;
//   --secondary--color: #faf9fe;
//   --text-dark: #0f172a;
//   --text-light: #64748b;
//   --max-width: 1200px;
//   --white: #fff;
// }

// Header
.header {
  background-color: var(--secondary--color);

  nav {
    position: fixed;
    isolation: isolate;
    width: 100%;
    z-index: 19;

    //
    .nav__links {
      position: absolute;
      top: 62px;
      left: 0;
      width: 100%;
      padding: 2rem;
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 2rem;
      background-color: var(--secondary--color);
      // background-color: tomato;
      transition: 0.5s;
      z-index: -1;
      transform: translateY(-100%);

      .link a {
        // background-color: #e91a1a;
        color: var(--text-dark);
        transition: 0.3s;
      }

      .link a:hover {
        color: var(--primary-color);
      }
    }

    .nav__links.open {
      transform: translateY(0);
    }

    .nav__header {
      padding: 1rem;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: var(--secondary--color);
      // background-color: #e91a1a;

      .nav__logo a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        font-weight: 600;
        color: var(--text-dark);
      }

      .nav__logo img {
        max-width: 40px;
      }

      .nav__menu__btn {
        font-size: 1.5rem;
        color: var(--text-dark);
      }
    }
  }
}
