@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap");

// Styles componetns
@import url('./footer/footer.scss');
@import url('./section/section.scss');
@import url('./header/header.scss');

:root {
  --primary-color: #f92524;
  --primary-color-dark: #e91a1a;
  --secondary--color: #faf9fe;

  --text-dark: #0f172a;
  --text-light: #64748b;

  --max-width: 1200px;

  --white: #fff;
}

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

.container{
  margin: 0 auto;
}

.btn {
  padding: 0.75rem 1.5rem;
  outline: none;
  border: none;
  font-size: 1rem;
  white-space: nowrap;
  // color: #FFF;
  color: var(--white);
  background-color: var(--primary-color);
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.btn:hover {
  background-color: var(--primary-color-dark);
}

img {
  display: flex;
  width: 100%;
}

a {
  text-decoration: none;
  white-space: nowrap;
}

html,
body {
  scroll-behavior: smooth;
}

// Medai Screen for tablet
@media screen and (min-width: 480px) {
  .class__grid {
    grid-template-columns: repeat(2, 1fr);
    padding: 1rem;
    margin: auto;
    margin-top: 4rem;
  }

  .trainers__grid {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    padding: 2.5rem;
  }


  .trainer__card:nth-child(3) {
    grid-area: 2/2/3/3;
    // background-color: #16a34a;
  }

  .price__grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem 1rem;
  }

  .footer__container{
    grid-template-columns: 1fr 1fr;
  }
}

// Media
@media screen and (min-width: 800px) {
  nav {
    position: static;
    padding: 2rem 1rem;
    max-width: var(--max-width);
    margin-inline: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
  }

  .nav__header {
    padding: 0;
    background-color: transparent;
  }

  .nav__menu__btn {
    display: none;
  }

  .nav__links {
    position: static;
    padding: 0;
    flex-direction: row;
    background-color: transparent;
    transform: none;
  }

  .header__container {
    padding-block: 0;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .header__content {
    padding-block: 5.5rem;
    grid-area: 1/1/2/2;
  }

  .about__container {
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
  }

  .about__grid {
    gap: 3rem;
  }

  .class__grid {
    grid-template-columns: repeat(4, 1fr);
  }

  .trainer__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .trainer__content {
    padding: 2rem;
  }

  .price__grid {
    grid-template-columns: repeat(3, 1fr);
  }

  .footer__container {
    grid-template-columns: repeat(2, 1fr);
  }

  // .footer__col:first-child {
  //   grid-column: 1/3;
  // }
}




